.container {
    position: relative;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.nav {
    position: relative;
    z-index: 60;
}

.sidebar {
    display: flex;
    width: 150px;
    flex-grow: 3;
}

.children {
    position: relative;
    margin-left: 150px;
    margin-top: 150px;
    padding: 0 10px;
}

@media screen and (max-width: 900px) {
    .children {
        margin-top: 85px;
    }
}
@media screen and (max-width: 768px) {
    .children {
        margin-left: 50px;
    }
    .sidebar {
        display: flex;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .children {
        margin-top: 77px;
    }
}

