.sidebar {
    padding-left: 15px;
    background: rgba(13, 66, 97, 0.884);
    width: 100%;
    color: #fff;
}

.sidebar div {
    display: flex;
    flex-direction: column;
}

.navItem {
    margin-top: 10px;
    width: 100%;
}

.active {
    color: rgb(0, 0, 0);
}