.search {
    width: 17px;
    height: 17px;
    fill: #fff;
}

.user, .phone, .icon {
    margin-right: 5px;
    fill: #fff;
    transition: 0.5s;
}

.heart, .message, .delete, .phone {
    width: 20px;
    height: 20px;
    fill: rgb(143, 130, 130);
}

.cancel {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.cancel:hover {
    fill: #305996d0;
}

.heart:hover{
    fill: rgba(219, 24, 24, 0.89);
}

.message:hover{
    fill: rgb(102, 214, 49);
}

.delete:hover{
    fill: rgb(30, 31, 27);
}

.user:hover{
    fill: rgb(143, 130, 130);;
}

.icon:hover {
    fill: rgb(87, 83, 78);
}

.phone:hover {
    fill: rgb(100, 197, 100);
}