header {
    position: relative;
    padding-top: 20px;
    background: #103077;
    color: #fff;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(114, 106, 106);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin-right: 10px;
    transition: 0.5s;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category li {
    margin: 30px 10px;
    transition: 0.5s;
}

.menu li:hover, .category li:hover {
    opacity: .9;
}

.add {
    padding: 5px 10px;
    background: #2fbdb4;
    border-radius: 5px;
    transition: .5s;
}

.add:hover {
    background: #2fbdb3d0;
    opacity: 1;
}

.login {
    display: none;
}

.mobileNav {
    display: none;
}

.header__menu nav ul li{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
} 

.header__menu nav ul li:hover{background: rgba(0,0,0,.15);}
.header__menu nav ul li:hover > ul{display: block;}
.header__menu nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
} 

.header__menu nav ul ul{
    display: none;
    position: absolute; 
}
.header__menu nav ul ul li{float: none; position: relative;}
.header__menu nav ul ul ul {
        position: absolute; 
        top:0;
    }	


@media screen and (max-width: 900px) {
    header {
        padding-bottom: 20px;
    }
    .title, .menu, .category {
        display: none;
    }
    .login, .mobileNav {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .search {
        display: none;
    }
}
